# Ignore application.properties
/src/main/resources/application.properties
*.pth

inputs/*
!inputs/.gitkeep

outputs/masks/*
!outputs/masks/.gitkeep

outputs/SCHPs/*
!outputs/SCHPs/.gitkeep

outputs/pdfs/*
!outputs/pdfs/.gitkeep

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
